<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.personage.myolq">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".base.InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.view.activity.MainActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.view.activity.HomePageActivity"
            android:label="@string/title_activity_home_page"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.view.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!-- <activity -->
        <!-- android:name=".test.TestActivity" -->
        <!-- android:label="@string/title_activity_register" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".test.Test2Activity" -->
        <!-- android:label="@string/title_activity_register" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- </activity> -->
        <activity
            android:name=".mvp.view.activity.LoginActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.view.activity.AdditionActivity"
            android:label="@string/title_activity_addition"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.view.activity.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.view.activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".mvp.view.activity.NewFriendActivity"
            android:label="@string/title_activity_new_friend"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>